---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="mx-auto w-full px-4 py-6">
			<article>
				<div class="flex w-full justify-center">
					{heroImage && (
						<div class="w-full max-w-[1020px] max-h-[255px] overflow-hidden rounded-xl shadow-[var(--box-shadow)]">
							<Image class="h-full w-full object-cover object-center" width={1020} height={255} src={heroImage} alt="" />
						</div>
					)}
				</div>
				<div class="mx-auto max-w-[720px] p-4 text-[rgb(var(--gray-dark))]">
					<div class="mb-4 py-4 leading-none">
						<h1 class="mb-2 text-3xl">{title}</h1>
						<div class="text-sm text-gray-500">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
